.sidebar {
    align-self: flex-end;
    display:flex;
    flex-direction: column; 
    align-items: center;
	background: #41535D;

    .form{
        padding: 25px 25px 15px 25px;
        border-bottom: 1px solid #374a53;

        .login-block {
            width: 250px;
            padding: 20px;
            background: #33454F;
            border-radius: 5px;
            border-top: 5px solid #E7183F;
            border: 1px solid rgba(90,111,122,1);
            margin: 0 auto;

        

            h1 {
                text-align: center;
                color: white;
                font-size: 18px;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 20px;    
            }

            input {
                width: 100%;
                height: 35px;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid #ccc;
                margin-bottom: 20px;
                font-size: 14px;
                outline: none;
            }

            button {
                width: 100%;
                height: 40px;
                background: #E7183F;
                box-sizing: border-box;
                border-radius: 5px;
                border: 1px solid #e15960;
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
                outline: none;
            }

            button:hover {
                background: lighten(#E7183F, 10%);
            }
        }
    }

    .submit_post {
        padding: 35px 25px 35px 25px;
        border-bottom: 1px solid #374a53;
        display: flex;
        .submit-button{
            padding:15px 35.5px 15px 35.5px;
        	background: #33454F;
        	font-size: 15px;
            color: white;
            border: 1px solid rgba(90,111,122,1);
            text-transform: uppercase; 
        	border-radius: 5px;
            .link {
                color: #E7183F;   
            }
        }
        .submit-button:hover {
            background: lighten(#33454F,10%);
        }
    } 
   .filler{
        padding: 60px 25px 60px 25px;
   } 
}