/* The Modal (background) */
.postmodal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding: 20px;
    background-color: #E7183F;
    top: 100px;
    border-radius: 5px;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

/* Modal Content/Box */
.postmodal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    display: flex;
}

/* The Close Button */
.exit {
    display: flex;
    justify-content: flex-end;

}

.close {
    color: black;
    font-size: 28px;
    margin-bottom: 8px;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.submit {
    margin-top: 15px;
}

.comment,
.submit
 {
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}