@import url("https://fonts.googleapis.com/css?family=PT+Sans");

body {
  font-family: 'Work Sans', sans-serif;
}

.sidebar {
  background: #41535D;
  color: white;
  width: 300px;
  height: 400px;
  position: absolute;
  right: 10px;
  top: 100px;
}

.submit_link {
  background: #33454F;
  font-size: 15px;
  width: 200px;
  padding-top: 20px;
  padding: 20px;
  position: relative;
  top: 90px;
  right: 20px;
  border-radius: 5px;
}

.link {
  position: absolute;
  color: #E7183F;
  right: 15px;
}

.submit_link:hover {
  background: rgba(51, 69, 79, 0.3);
}

.login-block {
  width: 200px;
  padding: 20px;
  background: #33454F;
  border-radius: 5px;
  border-top: 5px solid #E7183F;
  margin: 0 auto;
  margin-top: 20px;
}

.login-block h1 {
  text-align: center;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
}

.login-block input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
  outline: none;
  font-family: 'Work Sans', sans-serif;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: #E7183F;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e15960;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
}

.login-block button:hover {
  background: #ff7b81;
}
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #374a53;
}

.modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
}

.modal .modal-content .modal-header {
  padding: 60px 0px 30px 30px;
  background-color: #e41e43;
  color: white;
  font-size: 36px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.modal .modal-content .modal-sorting ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 30px;
  background-color: #d70d3e;
}

.modal .modal-content .modal-sorting ul li a {
  color: rgba(225, 225, 225, 0.7);
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.modal .modal-content .modal-sorting ul li a:hover {
  color: #e1e1e1;
  text-shadow: 0 0 3px white;
}

.modal .modal-content .modal-body {
  padding: 15px 30px 15px 30px;
}

.modal .modal-content .modal-body .post {
  font-family: "Work Sans", sans-serif;
  border-bottom: 1px solid #f2efed;
  padding: 15px 0px 15px 0px;
  line-height: 20px;
}

.modal .modal-content .modal-body .post .post-title {
  color: #273c45;
  font-size: 18px;
  font-weight: 500;
}

.modal .modal-content .modal-body .post .post-title .post-address {
  color: #d4dbdf;
  font-size: 11px;
}

.modal .modal-content .modal-body .post .post-timestamp {
  color: #42545c;
  font-size: 13px;
  font-weight: 400;
}

.modal .modal-content .modal-body .post .post-timestamp .post-user {
  color: #72a9c6;
}

.modal .modal-content .modal-body .post .post-timestamp .post-subreddit {
  color: #72a9c6;
}

.modal .modal-content .modal-body .post .post-activity {
  color: #273c45;
  font-size: 13px;
  font-weight: 500;
}

.modal .modal-content .modal-footer {
  padding: 0px 30px 15px 30px;
}
