body {
  /* fallback/image non-cover color */
  background-color: #de485b;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, #de485b 0%, #2bb4b3 100%);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #de485b), color-stop(100%, #2bb4b3));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, #de485b 0%, #2bb4b3 100%);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, #de485b 0%, #2bb4b3 100%);
  /* IE10+ */
  background: -ms-linear-gradient(left, #de485b 0%, #2bb4b3 100%);
  /* Standard */
  background: linear-gradient(to right, #de485b 0%, #2bb4b3 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
